// COLORS
$main_color: #3e5c7c;

$profile-diam: 150px;
$profile-border: 5px;

// BOOTSTRAP
$body-bg: #ededed;
$font-size-base: 16px;

html, body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}