// COLORS
$blue :  #3e5c7c;
$pink: #e56e8e;
$lightPink: #f8d0db;
$purple: #6b2b67;
$lightPurple: #856183;

// BOOTSTRAP
$body-bg: #dfd2de;
$font-size-base: 16px;

html, body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}